

#titleCloud{
	padding: 33px 45px 10px 20px;
}

#titleCloudMsg {
	
	line-height: 30pt;
	font-size: 25pt;
}


#char1, #char2, #char3, #char4, #char5, #char6, #char7, #char8, #char9, #char10, #char11{

	color: #f06566;
	font-size: 20pt;
	font-weight: 900;
	padding: 25px;
	text-align: center;
}


#char2,#char3, #char6{
	padding-top:302px;
}


#MozoMsg .mozo-msg{
	line-height: 40pt;
	font-size: 30pt;
	padding: 5px 50px;
}


#ideal{
	text-align: center;
	padding: 100px 200px;
	font-size: 27pt;
	color: #f06566;
	font-weight: 900;
}

#idealMsg{
	font-size: 20pt;
}

#AvailableMozoMsg .mozo-msg{
	padding: 13px 27px;
	font-size: 12pt;
	line-height: 13pt;
}

#DirectionMozoMsg .mozo-msg, #MemberMozoMsg .mozo-msg, #CouponMozoMsg .mozo-msg, #HotPotMozoMsg .mozo-msg, #PromotionMozoMsg .mozo-msg{
	padding: 42px 20px 40px 20px;
}

#DirectionMozoMsg .mozo-msg, #MemberMozoMsg .mozo-msg,#ChatMozoMsg .mozo-msg, #CouponMozoMsg .mozo-msg, #HotPotMozoMsg .mozo-msg, #PromotionMozoMsg .mozo-msg{
	font-size: 12pt;
	line-height: 14pt;
}
#DirectionMozoMsg .mozo-msg{
	padding: 30px 27px 40px 27px;
}
#PromotionMozoMsg .mozo-msg,  #MemberMozoMsg .mozo-msg, #CouponMozoMsg .mozo-msg {
	font-size: 14pt;
	line-height: 16pt;
}