@media only screen 
and (max-device-width : 480px)  {

	#titleCloudMsg{
		font-size: 17px;
		line-height: 19px;
	}

	#titleCloud{
		padding: 25px 0px 10px 0px;
	}

	#mallProblemMsg{

		font-size: 20px;
	}


	#char1, #char2, #char3, #char4, #char5, #char6, #char7, #char8, #char9, #char10, #char11{

		color: #f06566;
		font-size: 16px;
		font-weight: 900;
		padding: 22px;
		text-align: center;
	}


	#char2,#char3, #char6{
		padding-top:198px ;
	}
	#ideal{
		padding: 47px 80px;
		font-size: 20px;
		line-height: 22px;
	}

	#idealMsg{
		font-size: 13px;
		line-height: 15px;
	}

	#MozoMsg .mozo-msg{
		line-height: 27px;
		font-size: 25px;
		padding:20px 20px 0px 20px;
	}


	.mozo-header{
		line-height: 22px;
		font-size: 20px;
	}


	#AvailableMozoMsg .mozo-msg{
		padding: 22px 20px;
		font-size: 13px;
		line-height: 15px;
	}

	#DirectionMozoMsg .mozo-msg, #MemberMozoMsg .mozo-msg, #CouponMozoMsg .mozo-msg, #HotPotMozoMsg .mozo-msg, #PromotionMozoMsg .mozo-msg{
		padding: 15px 18px 10px 18px;
	}

	#DirectionMozoMsg .mozo-msg, #MemberMozoMsg .mozo-msg,#ChatMozoMsg .mozo-msg, #CouponMozoMsg .mozo-msg, #HotPotMozoMsg .mozo-msg, #PromotionMozoMsg .mozo-msg{
		font-size: 13px;
		line-height: 15px;
	}
}


@media only screen 
and (device-width : 360px) {

	#smartMozoImg, #flyCloudImg, #titleCloud, #imgMall{
		background-size: 80% ;
		background-position: center top;
		background-repeat: no-repeat;
	}
	
	#titleCloudMsg{
		font-size: 22px;
		line-height: 24px;
	}

	#titleCloud{
		padding: 30px 0px 10px 0px;
	}

	#mallProblemMsg{

		font-size: 26px;
	}


}
