 /*@import url("responsive-320.css"); */
 @import url("responsive-360.css");


@media only screen 
and (min-device-height : 400px)  {
	
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:3%;
	}
	#SmartMozo{
		margin-bottom: 2%;
	}
}
@media only screen 
and (min-device-height : 600px)  {
	
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:6%;
	}
	#SmartMozo{
		margin-bottom: 3%;
	}
}

@media only screen 
and (min-device-height : 800px)  {
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:12%;
	}
	#SmartMozo{
		margin-bottom: 6%;
	}
}

@media only screen 
and (min-device-height : 1000px)  {
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:20%;
	}
	
	#SmartMozo{
		margin-bottom: 350px;
	}
}


@media only screen 
and (device-width : 320px)  {
	
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:5%;
	}
	#SmartMozo{
		margin-bottom: 5%;
	}
}


@media only screen 
and (device-width : 360px)  {
	
	#ChatSmartMozo, #AvailableSmartMozo, #MemberSmartMozo, #CouponSmartMozo,#HotPotSmartMozo, #DirectionSmartMozo, #PromotionSmartMozo {
		bottom:10%;
	}
	#SmartMozo{
		margin-bottom: 10%;
	}
}
